<ion-modal-view>
  <ion-header-bar style="text-align: center; background-color: #00b19d;">
    <div class="" style="display: flex;">
      <img width="10%" src="images/alegra-icon.png"></img>
      <p style="color: white;margin-top: 2%;text-transform: uppercase;font-weight: bold;">Edit Contact</p>
    </div>
  </ion-header-bar>
  <ion-content style="padding: 10px;">
    <ion-list style="text-align: center;">
      <ion-item class="item-edit">
        <span class="input-label title-input">Name:</span>
        <input type="text" class="input-edit" ng-model="contact.name">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Email:</span>
        <input type="email" class="input-edit" ng-model="contact.email">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Identification:</span>
        <input type="text" class="input-edit" ng-model="contact.identification">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Phone Number:</span>
        <input type="text" class="input-edit" ng-model="contact.phonePrimary">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Mobile:</span>
        <input type="text" class="input-edit" ng-model="contact.mobile">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Phone Secondary:</span>
        <input type="text" class="input-edit" ng-model="contact.phoneSecondary">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">City:</span>
        <input type="text" class="input-edit" ng-model="contact.address.city">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Address:</span>
        <input type="text" class="input-edit" ng-model="contact.address.address">
      </ion-item>
      <ion-item class="item-edit">
        <span class="input-label title-input">Description:</span>
        <input type="text" class="input-edit" ng-model="contact.observations">
      </ion-item>
    </ion-list>
    <div class="button-bar" padding>
      <button name="button" style="color: white; background-color: #00b19d; width: 20% !important;" class="button icon-left ion-checkmark-round button-balance" ng-click="edit()">Accept</button>
      <button name="button" class="button icon-left ion-close-round button-outline button-assertive" style="width: 20% !important;margin-left: 5px;" ng-click="modal.hide()">Cancel</button>
    </div>
  </ion-content>
</ion-modal-view>
